

#galeria {
  padding: 3rem 0;
}

.intro-content {
  position: relative;
  /* top: -8rem; */
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  /* gap: var(--gap); */
  min-height: 40vh;
  top: 0;
}

.contact-content {
  position: relative;
  /* top: -8rem; */
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
  padding: 10rem 2rem 0 2rem;
  min-height: 40vh;
  top: 0;
  width: 100%;
  max-width: 100vh;
}

.grid-intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  padding-top: 2rem;
}

.intro-secundary {
  position: relative;
  /* top: -8rem; */
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  gap: var(--gap);
  min-height: 8vh;
  max-height: 30vh;
  top: 0;
}

.welcome {
  margin: 0 auto;
  max-width: 100%;
  padding: 8rem 0 8rem 2rem;
}

.middle{
  display: flex;
}

.btn {
  transform: translate(0%,0%);
  position: relative;
  display: block;
  color: var(--gray-color);
  font-size: 1.5rem;
  font-family: "montserrat";
  text-decoration: none;
  margin: 3rem 0;
  border: 0.2rem solid var(--gray-color);
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  margin: 0 auto;
  border-radius: 1rem;
}

.btn::before{
  background: var(--c-color);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}

.botton:hover {
  background: rgba(255, 0, 0, 0.274);
  transition: all 300ms ease-in-out;
}

.botton-img {
  padding: 100%;
  position: absolute;
  transition: ease-in-out;
  font-size: 2.5rem;
  text-decoration: none;
}

.botton-img:hover {
  background: rgba(0, 0, 0, 0.274);
  transition: all 300ms ease-in-out;
  color:rgb(243, 241, 241);
}

.botton-img h6 {
  font-family: 'League Gothic', sans-serif;
  line-height: 1.2;
}

.intro-text-content {
  display: flex;
  flex-flow: column wrap;
}

.intro-text-content-secundary {
  display: flex;
  flex-flow: column wrap;
  text-transform: uppercase;
  justify-content: center;
}

.intro-text-content p {
  font-size: 2.5rem;
}

.intro-img img,
.intro-img iframe {
  max-width: 100%;
  max-height: 100%;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
  text-align: center;
}

.grid-depoimento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  /* counter-reset: grid-counter; */
}

.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  /* counter-reset: grid-counter; */
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  /* counter-reset: grid-counter; */
}

/* 
#welcome {
  padding-top: 15rem;
} */

.welcome-img {
  display: none;
}

.welcome-img-grid img {
  display: flex; 
  align-items: center;
  margin: 0 auto;
  width: 100%; 
  max-width: 41rem; 
  max-height: 41rem;
}

.title-depoimento {
  padding: 12rem 0 0 0;
  line-height: 2.5rem;
}

/* .color-box-welcome {
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
} */

.grid-gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  padding: 0 3rem 3rem;
  /* counter-reset: grid-counter; */
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;  
}

.grid-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 3rem;
}

.grid-service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 3rem;
  gap: var(--gap);
  padding: 3rem;
  width: 100%;
}

.shadow-box-welcome {
  background-image: url("/assets/img/bg-white.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding-top: 1rem;
  border-radius: 15px;
  border: 2px;
  padding: 3rem 2rem 2rem;
  width: 100%;
}

.shadow-box-welcome img {
  width: 100%;
  max-width: 128px;
  max-height: 128px;
}

.service-img { 
  display: block;
  position: relative;
  width: 100%;
  max-width: 12.8rem;
  max-height: 12.8rem;
  overflow: hidden;
  color: rgb(218, 22, 54);
}
/* .grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
} */

/* .grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
} */

.gallery-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* .gallery-img img {
  transition: all 300ms ease-in-out;
} */

/* .gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
} */

.gallery-img > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.gallery-img > .content-img {
  position: absolute;
  inset: 0;
  font-size: 2.5rem;
  padding: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery-img > img,
.gallery-img > .content-img {
  transition: 200ms ease-in-out;
}

.gallery-img > .content-img.fade {
  opacity: 0;
}

.content-img span {
  color: var(--white-color);
}

.gallery-img:hover > .content-img.fade {
  opacity: 1;
}

.gallery-img:hover > img.blur {
  filter: blur(0.2rem);
}

.gallery-img:hover > img.zoom {
  transform: scale(1.1);
}

.contact {
  text-align: left;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 6rem;
}

.welcome-content {
  max-width: 140rem;
  margin: 0 auto;
  padding: 10rem 1rem;
}

.contact-content span a {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-items: center;
  max-width: 25rem;
}

.contact-content span {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-items: center;
}

.contact-content span img {
  max-width: 5rem;
  margin-right: 1rem;
}

.contact-form {
  padding: 0 1rem;
  margin: 0 0 3rem;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: 1rem;
  max-height: 100%;
  background: var(--b-color);
  box-shadow: 0 0 15px 0  #00000048;
  border-radius: 1.5rem;
  max-width: 80%;
  margin: 4rem auto;
}

.form-grid legend {
  font-size: 2rem; 
  font-family: 'Montserrat', sans-serif;
  color: var(--white-color);
  text-align: center;
}

.form-group {
  flex: 1 1 32rem;
}

.form-group label {
  display: block;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
  color: var(--white-color);
  font-size: 1.6rem;
  margin-left: 2%;
}

.form-group input,
.form-group textarea {
  border: none;
  border-radius: 1.5rem;
  background: var(--white-color);
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 2rem;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 10px 2px var(--primary-color);
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 2rem;
  margin-left: 3%;
  margin-bottom: 2%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 1.5rem;
}

.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: var(--light-gray-color);
}

.footer {
  text-align: center;
  font-size: 1.6rem;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: var(--secondary-color);
}

.footer p {
  margin: 0;
  padding: 3rem;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: none;
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* color: var(--primary-color); */
  /* transform: rotate(-90deg); */
  /* border: 0.1rem solid var(--primary-color); */
}

@media (max-width: 1400px) {
  .contact {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
  }
  .contact-form .form-grid {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .grid-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .intro-content, .grid, .grid-depoimento, .grid-service, .grid-3-columns, .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .welcome-img-grid {
    display: flex; 
    justify-content: center;
  }
}


@media (max-width: 800px) {
  #contato {
    min-height: 200vh;
  }

  .grid-intro {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-contact {
    display: grid;
    grid-template-columns: 1fr;
  }
  .intro-content, .grid, .grid-gallery, .grid-depoimento, .grid-service, .grid-3-columns, .grid-2-columns {
    grid-template-columns: 1fr;
  }
  
  .gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%; 
}
  
.gallery-img img {
  width: 100%;
}
  
  .grid-one-content {
    display: block;
  }
  
  .menu {
    bottom: 0;
    text-align: center;
  }
  .menu nav ul li a {
    box-shadow: 0px 0px 5px 0px black;
    margin: 0.5rem;
    width: 100vh;
  }

  .welcome-content {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0rem 1rem;
  }
  
  
  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }
  
  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 3rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }
  
  .menu-spacing {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.4rem;
  }

  h4 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 3rem;
  }

  h6 {
    font-size: 2rem;
  }

  .intro-secundary h6 {
    /* display: nonr; */
    font-size: 1.5rem;
  }

  #welcome {
    padding-top: 0rem;
  }

  .welcome-img {
    display: block;
  }

  .white-bg, .white-bg-gray {
    background-color: #FEFDFD;
    background-attachment: fixed;
  }
  #slider {
    padding-top: 0 !important;
  }
}
