:root {
  --primary-color: #000000;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --gray-color: #333333;
  --terra-color: #ff9571;
  --menu-color: rgb(209, 131, 131);
  --secondary-color: crimson;
  --transparent: rgba(238, 231, 233, 0);
  --gap: 3rem;
}