:root {
  --primary-color: #000000;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --gray-color: #333333;
  --a-color: #FFE4CF;
  --b-color: #A67B51;
  --c-color: #BAA386;
  --d-color: #B58D51;
  --e-color: #C7AF85;
  --menu-color: rgb(209, 131, 131);
  --secondary-color: crimson;
  --transparent: rgba(238, 231, 233, 0);
  --gap: 3rem;
  --1-font: 'Architects Daughter', cursive;
  --2-font: 'Caveat', cursive;
  --3-font: 'Dancing Script', cursive;
  --4-font: 'Gloria Hallelujah', cursive;
  --5-font: 'Grape Nuts', cursive;
  --6-font: 'Handlee', cursive;
  --7-font: 'Lobster', cursive;
  --8-font: 'Montserrat', sans-serif;
  --9-font: 'Neucha', cursive;
  --10-font: 'Saira Condensed', sans-serif;
  --11-font: 'Playfair Display', serif;
}